@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@layer base {
	nav a,
	a {
		@apply inline-block relative z-20;
	}
	nav a::after,
	a::after {
		content: "";
		@apply absolute w-full h-0.5 bottom-0 left-0 bg-black origin-bottom-right transition-transform duration-[250ms] ease-out scale-x-0 z-10;
	}
	nav a:hover::after,
	a:hover::after {
		@apply origin-bottom-left scale-x-100;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
